<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="QuanLi_DormitoryEntities" connectionString="metadata=res://*/QuanLi_Domitory.csdl|res://*/QuanLi_Domitory.ssdl|res://*/QuanLi_Domitory.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-1B55MD1L\SQLEXPRESS;initial catalog=QuanLi_Dormitory;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>